/* Write your CSS here */
.bgContainer {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.listContainer {
  padding-left: 0;
  padding-left: 70px;
  padding-right: 70px;
}
.heading {
  font-family: 'Roboto';
  font-size: 45px;
  font-weight: 900;
  color: #ff8542;
  text-align: center;
}
